#sociaux{
    padding: 1em 1em 1em 1em;
    color: #0f7eaa;
}
#sociaux ul li a{
    padding: 1em 1em 1em 1em;
    color: #0f7eaa;
}
#référencement{
    background-color: #0f7eaa;
    color: white;
    padding: 1em 1em 1em 1em;
}
#navigateur {
    padding: 1em 1em 1em 1em;
    color:#0f7eaa ;
}
#soncas{
    background-color:#0f7eaa ;
    color: white;
    padding: 1em 1em 1em 1em;
}
#pareto{
    padding: 1em 1em 1em 1em;
}
#webdesigner{
    background-color:#0f7eaa ;
    color: white;
    padding: 1em 1em 1em 1em;
}
#droit ul li a{
    color: #0f7eaa;
    padding: 1em 1em 1em 1em;
}
