#logiciels{
    padding: 1em 1em 1em 1em;
    color: #0f7eaa;
}
#logiciels ul li a{
    padding: 1em 1em 1em 1em;
    color: #0f7eaa;
}
#conseils{
    background-color: #0f7eaa;
    color: white;
    padding: 1em 1em 1em 1em;
}
#calques {
    padding: 1em 1em 1em 1em;
    color:#0f7eaa ;
}
#format{
    background-color:#0f7eaa ;
    color: white;
    padding: 1em 1em 1em 1em;
}
#enregistrement{
    padding: 1em 1em 1em 1em;
}
#images{
    background-color:#0f7eaa ;
    color: white;
    padding: 1em 1em 1em 1em;
}
#impression{
    padding: 1em 1em 1em 1em;
    color: #0f7eaa;
}
#exportation{
    background-color:#0f7eaa ;
    color: white;
    padding: 1em 1em 1em 1em;
}
#vernis{
    padding: 1em 1em 1em 1em;
    color: #0f7eaa;
}