#sociaux{
    padding: 1em 1em 1em 1em;
    color: #0f7eaa;
}
#sociaux ul li a{
    color: #0f7eaa;
}
#référencement{
    padding: 1em 1em 1em 1em;
    background-color: #0f7eaa;
    color: white;
}
#navigateur {
    padding: 1em 1em 1em 1em;
    color:#0f7eaa ;
}