nav{
    display: flex;
    justify-content: space-around;
    background-color: #0f7eaa;
    padding: 1em 1em 1em 1em;
    list-style: none;
}
nav li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}